<div class="container">  
  <div class="row green">  
    <div class="col s12">    
      <% flash.each do |name, msg| %>
        <div class="white-text">
          <%= msg %>
        </div>
      <% end %> 
    </div>    
  </div>
</div>
