<h1 class="text-center mt-4">Editing Category</h1>

<%= render 'shared/errors', obj: @category %>

<%= render 'form' %>

<div class="col-xs-4 col-xs-offset-4">

[ <%= link_to "Cancel request and return to categories listing", categories_path %> ]

</div>
