<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Title</title>
  <meta name="description" content="a page">
  <meta name="author" content="ali">

  <link rel="stylesheet" href="#">

</head>
<body>

<h1>This is home page.</h1>





  <script src="#"></script>
</body>
</html>
