<div class="container" id="home-container">
<div class="jumbotron text-center text-white">
  <h1 class="display-4">ITsAli.com Blog</h1>
  <p class="lead">
	Maecenas gravida orci et ex fermentum, non fringilla urna fermentum.
	Maecenas condimentum libero vitae maximus placerat.
  </p>
  <hr class="my-4">
  <p>
	Phasellus lobortis neque et leo eleifend, dictum dapibus ex viverra.
  </p>
  <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
</div>
</div>

<h1>Home</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Sed tristique euismod nibh in commodo. Proin id ornare enim. 
Aliquam facilisis nunc non lectus vestibulum, ac porta nibh
 auctor. Sed aliquet mauris orci, quis efficitur mi tincidunt
 et. Ut varius elementum est nec condimentum. Proin ipsum 
 tortor, vulputate sit amet arcu et, interdum faucibus 
 leo. Maecenas sit amet tortor sit amet ex tempor facilisis. 
 Nullam faucibus ac magna quis luctus. Donec scelerisque, 
 ipsum non aliquam molestie, diam odio commodo justo, 
 sit amet molestie nunc metus in tortor. Ut eu euismod quam, 
 a elementum felis. Vivamus a quam fermentum, porta dolor sed, 
 vestibulum augue.
</p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Sed tristique euismod nibh in commodo. Proin id ornare enim. 
Aliquam facilisis nunc non lectus vestibulum, ac porta nibh
 auctor. Sed aliquet mauris orci, quis efficitur mi tincidunt
 et. Ut varius elementum est nec condimentum. Proin ipsum 
 tortor, vulputate sit amet arcu et, interdum faucibus 
 leo. Maecenas sit amet tortor sit amet ex tempor facilisis. 
 Nullam faucibus ac magna quis luctus. Donec scelerisque, 
 ipsum non aliquam molestie, diam odio commodo justo, 
 sit amet molestie nunc metus in tortor. Ut eu euismod quam, 
 a elementum felis. Vivamus a quam fermentum, porta dolor sed, 
 vestibulum augue.
</p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Sed tristique euismod nibh in commodo. Proin id ornare enim. 
Aliquam facilisis nunc non lectus vestibulum, ac porta nibh
 auctor. Sed aliquet mauris orci, quis efficitur mi tincidunt
 et. Ut varius elementum est nec condimentum. Proin ipsum 
 tortor, vulputate sit amet arcu et, interdum faucibus 
 leo. Maecenas sit amet tortor sit amet ex tempor facilisis. 
 Nullam faucibus ac magna quis luctus. Donec scelerisque, 
 ipsum non aliquam molestie, diam odio commodo justo, 
 sit amet molestie nunc metus in tortor. Ut eu euismod quam, 
 a elementum felis. Vivamus a quam fermentum, porta dolor sed, 
 vestibulum augue.
</p>
